/* Responsive CSS Start Here */
/* Media queries for structure */

@media (max-width: 1560px) {

	.testimonial-section .testimonial-box-top-right .star-wrapper img{
		width: 24px;
	}

	.testimonial-section  .slick-slide {
	  margin: 0 15px;
	}

	.testimonial-section .slick-list {
		margin: 0 -15px;
	}
}

@media (max-width: 1350px) {
	.header-section .hero-wrapper {
		justify-content: center;
		padding-top: 80px;
    	padding-bottom: 80px;
	}

	.testimonial-section .slick-slide {
		opacity: 1;
	}

	.how-it-works-section .htw-inner .right .img-wrap {
		width: 65px;
    	height: 65px;
	}

	.how-it-works-section .htw-inner .right {
		width: 100%;
		padding-left: 0;
		justify-content: center;
		padding-top: 32px;
	}

	.how-it-works-section .htw-inner .right img {
		width: 35px;
		height: 35px;
	}

	.how-it-works-section .htw-inner .left {
		width: 100%;
	}

	.how-it-works-section .htw-inner .left h2 {
		font-size: 32px;
	}

	.primary-heading {
		font-size: 34px;
	}
	
	.feature-section .feature-upper .left {
		padding-right: 30px;
	}

	.testimonial-section .slick-slide {
		margin: 0 18px;
	}

	.testimonial-section .slick-list {
		margin: 0 -18px;
	}

	.explore-section .explore-inner .right {
		padding-left: 20px;
		padding-right: 15px;
	}

	.testimonial-section .testimonial-box-top-right .star-wrapper img{
		width: 20px;
	}

	.testimonial-section .slick-slide {
		filter: blur(0);
	}
}

@media (max-width: 1280px){ 
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.header-section .hero-wrapper {
		padding-bottom: 44px;
	}

	.header-section .hero-wrapper .right {
		display: flex;
		justify-content: flex-end;
	}

	.header-section .hero-wrapper .right img {
		width: 80%;
		object-fit: contain;
	}

	.exiting-user-section {
		padding-bottom: 10px;
	}

	.feature-section {
		padding: 45px 0px 60px 0px;
	}

	.feature-section h2 {
		padding-bottom: 20px;
	}

	.feature-section .feature-upper {
		flex-direction: column;
		padding-bottom: 44px;
	}

	.feature-section .feature-upper .left,
	.feature-section .feature-upper .right {
		width: 100%;
		padding-right: 0;
	}
	
	.feature-section .feature-upper .left {
		text-align: center;
		padding-bottom: 32px;
	}

	.feature-section .feature-upper .right {
		text-align: center;
	}

	.feature-section .feature-upper .left p {
		max-width: 760px;
		margin: 0 auto;
	}

	.feature-section .feature-lower {
		flex-direction: column-reverse;
    	row-gap: 24px;
	}

	.feature-section .feature-lower .left a > img {
		width: 200px;
	}

	.feature-section .feature-lower .left {
		padding-left: 0;
		width: 100%;
		justify-content: center;
	}

	.feature-section .feature-lower .right {
		width: 100%;
		text-align: center;
	}

	.feature-section .feature-lower .right p {
		max-width: none;
	}

	.how-it-works-section .htw-inner {
		max-width: 920px;
		margin: 0 auto;
	}

	.how-it-works-section .up-flow-arrow.first {
		position: absolute;
		left: 65px;
		bottom: -50px;
		width: 200px;
	}

	.how-it-works-section .down-flow-arrow.first {
		top: -80px;
		left: 270px;
		width: 200px;
	}

	.how-it-works-section .up-flow-arrow.second {
		right: 240px;
		bottom: -45px;
		width: 200px;
	}

	.how-it-works-section .down-flow-arrow.second {
		top: -76px;
		right: 35px;
		width: 200px;
	}

	.explore-section .right h2 {
		font-size: 28px;
		line-height: 1.5;
		padding-bottom: 80px;
		max-width: 400px;
	}

	.associate-section {
		padding: 40px 0px 20px 0px;
	}

	.associate-section .associate-inner {
		column-gap: 30px;
		flex-wrap: wrap;

	}

	.associate-section p {
		padding-bottom: 32px;
	}

	.associate-section .associate-inner img {
    	width: 140px;
	}

	.sample-section {
    	padding: 50px 0px 55px 0px;
	}	

	.sample-section .sample-data {
		justify-content: center;
	}

	.sample-section .sample-data .sample-data-wrap {
		width: 300px;
	}

	.primary-heading {
		font-size: 30px;
	}
}

@media (max-width: 1180px){
	.testimonial-section  .slick-slide {
      filter: blur(1.6px);
	}

	.testimonial-section .slick-active {
		filter: blur(0px);
	}
}

@media (max-width: 1024px) {
	.header-section .hero-wrapper {
		flex-direction: column;
		padding-top: 60px;
	}

	.header-section .hero-wrapper .left,
	.header-section .hero-wrapper .right {
		width: 100%;
		text-align: center;
	}

	.header-section .hero-wrapper .right {
		justify-content: center;
	}

	.header-section .hero-wrapper .right img {
		margin-left: unset;
	}

	.header-section .hero-wrapper .left {
		padding-bottom: 40px;
	}

	.header-section .hero-wrapper .left h1 {
		font-size: 38px;
		padding-bottom: 28px;
		max-width: 580px;
		margin: 0 auto;
		line-height: 1.5;
	}
}

@media (max-width: 992px) {

	.header-section nav {
		padding-top: 40px;
	}

	.header-section nav .main-logo img {
		width: 335px;
    	object-fit: contain;
	}

	.testimonial-section .slick-slide {
		opacity: 0.4;
	}

	.testimonial-section .slick-active {
		opacity: 1;
	}

	.how-it-works-section .htw-inner .right {
		row-gap: 32px;
		padding-top: 36px;
		align-items: unset;
	}

	.get-section .get-box {
		width: 290px;
	}

	.how-it-works-section .up-flow-arrow.first {
		display: none;
	}

	.how-it-works-section .up-flow-arrow.second {
		display: none;
	}

	.how-it-works-section .down-flow-arrow.first {
		display: none;
	}

	.how-it-works-section .down-flow-arrow.second {
		display: none;
	}

	.how-it-works-section h2 {
		padding-bottom: 44px;
	}

	.how-it-works-section .htw-inner.desktop {
		display: none;
	}

	.how-it-works-section .htw-inner.mobile {
		display: flex;
		flex-direction: column;
		row-gap: 30px;
		align-items: center;
	}

	.how-it-works-section .htw-inner.mobile > img {
		height: 32px;
	}	

	.explore-section {
		background-color: #ECF5F8;
		padding: 50px 15px;
	}

	.explore-section .explore-inner .left {
		display: none;
	}

	.explore-section .explore-inner .right {
		width: 100%;
		padding: 0;
		text-align: center;
	}

	.explore-section .explore-inner .right h2 {
		margin: 0 auto;
		padding-bottom: 50px;
	}

	.footer-section .footer-bottom {
		flex-direction: column;
		row-gap: 26px;
		align-items: center;
		text-align: center;
	}

	.footer-section .footer-bottom li {
		justify-content: center;
	}

	.footer-section .footer-social ul {
		justify-content: center;
	}

	.footer-section .footer-bottom .footer-social {
		padding-left: 0;
	}

	.sample-section .sample-header {
		padding-bottom: 42px;
	}

	.sample-section .sample-data {
		row-gap: 32px;
	}

	.footer-section .footer-bottom .footer-contact,
	.footer-section .footer-bottom .footer-logo,
	.footer-section .footer-bottom .footer-social {
		width: 100%;
	}

	.feature-section .feature-inner .feature-box {
		width: calc(50% - 15px);
	}

	.footer-section .footer-contact ul li:nth-child(1) .f-number span{
		display: none;
	}

	.footer-section .footer-contact ul > span{
		display: block;
		color: #fff;
		margin-bottom: 18px;
		margin-top: 4px;
	}

	.footer-section .footer-contact ul li:nth-child(1) {
		margin-bottom: 0;
	}
}

@media (max-width: 768px) {
	.header-section .hero-wrapper {
		padding-bottom: 20px;
		padding-top: 10px;
	}

	.header-section .hero-wrapper .left h1 {
		font-size: 32px;
		padding-bottom: 28px;
		max-width: none;
	}

	.header-section .menu-wrapper {
		column-gap: 16px;
	}

	.header-section .menu-wrapper li:last-of-type a {
		padding: 10px 14px;
	}

	.feature-section h2 {
		font-size: 20px;
		font-weight: 500;
	}

	.feature-section .feature-upper .left h3 {
		font-size: 30px;
	}

	.feature-section .feature-lower .right h4 {
		font-size: 30px;
	}

	.feature-section .feature-lower .left {
		flex-direction: column;
		row-gap: 12px;
	}

	.associate-section h2 {
		font-size: 30px;
		padding-bottom: 10px;
	}

	.associate-section p br {
		display: none;
	}

	.sample-section .sample-header h2 {
		font-size: 30px;
		padding-bottom: 8px;
	}

	.how-it-works-section .htw-inner .right .img-wrap {
		width: 50px;
		height: 50px;
		padding: 0;
	}

	.how-it-works-section .htw-inner .right img {
		width: 30px;
		height: 30px;
	}

	.get-section {
		padding: 42px 0px 52px 0px;
	}

	.testimonial-section {
		padding: 40px 0px 70px 0px;
		overflow-x: clip;
	}

	.sample-section {
		padding: 50px 0px 46px 0px;
	}

	.footer-section {
		padding: 50px 0px 34px 0px;
	}

	.footer-section .footer-form {
		margin-bottom: 60px;
	}

	.get-section .get-box {
		padding: 22px 24px;
	}

	.get-section .get-box h5 {
		font-size: 20px;
	}

	.how-it-works-section .htw-inner .right {
		padding-top: 0px;
	}

	.how-it-works-section .htw-inner .right .hit-content-box {
		width: 100%;
	}

	.feature-section .feature-inner .feature-box {
		width: calc(100% - 4px);
	}

	.how-it-works-section {
		padding: 30px 0px 40px 0px;
	}

	.footer-section .footer-form .form-field.email,
	.footer-section .footer-form .form-field.number {
		width: 100%;
	} 

	.footer-section .footer-form .form-field.number {
		float: clear;
	}
	
}

@media (max-width: 580px) {
	.header-section nav {
		padding-top: 30px;
		flex-direction: column;
		row-gap: 20px;
	}

	.how-it-works-section .htw-inner .left h2,
	.primary-heading,
	.testimonial-section h2,
	.explore-section .explore-inner .right h2,
	.header-section .hero-wrapper .left h1 {
		font-weight: 500;
		letter-spacing: -0.4px;
	}

	.feature-section {
		padding-top: 42px;
	}

	.footer-section h2 {
		font-weight: 300;
		font-size: 28px;
	}

	.footer-section h5 {
		font-weight: 500;
	}

	.get-section .get-box {
		width: 320px;
	} 

	.header-section .hero-wrapper .right img {
		width: 95%;
	}

	.header-section .hero-wrapper .left .hero-cta-wrap a {
		padding: 12px 30px;
	}

	.testimonial-section  .slick-slide {
		margin: 0 18px;
  }
  
  .testimonial-section .slick-list {
		margin: 0 -18px;
  }
}

@media (max-width: 420px) {
	.testimonial-section  .slick-slide {
		margin: 0 10px;
  }
  
  .testimonial-section .slick-list {
		margin: 0 -10px;
  }
}

/*  Responsive Styling Ends */