/* Basic Styling Start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: Manrope;	
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container {
	max-width: 1080px;
	margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/* Basic Styling End */

.primary-heading {
	color: #000;
	font-family: Manrope;
	font-size: 36px;
	font-weight: 500;
	text-align: center;
}

.header-section nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 47px;
}

.header-section nav .main-logo {
	pointer-events: none;
}

.header-section nav .main-logo img {
	width: 340px;
    object-fit: none;
}

.header-section .right-logo img{
	width: 194px;
}

.header-section .hero-wrapper {
	display: flex;
	align-items: center;
	padding-top: 50px;
    padding-bottom: 40px;
	justify-content: space-between;
}

.header-section .hero-wrapper .left {
	width: 380px;
	text-align: center;
	padding-top: 40px;
	margin-left: -10px;
}

.header-section .hero-wrapper .right {
	width: 62%;
	margin-right: -10px;
}

.header-section .hero-wrapper .right img {
	width: 100%;
    object-fit: none;
}

.header-section .hero-wrapper .left h1 {
	color: #1B1C1E;
	font-family: Manrope;
	font-size: 36px;
	font-weight: 700;
	padding-bottom: 18px;
}

.header-section .hero-wrapper .left h1 span {
	display: block;
}

.header-section .hero-wrapper .left .hero-cta-wrap {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.header-section .hero-wrapper .left .hero-cta-wrap a {
	color: #FFF;
	font-family: Manrope;
	font-size: 16px;
	font-weight: 700;
	border-radius: 10px;
	text-decoration: none;
	padding: 14px 92px;
	width: 100%;
	max-width: 270px;
}

.header-section .hero-wrapper .left .hero-cta-wrap a:nth-child(1){
	margin-bottom: 8px;
	border-bottom: 4px solid #0090AB;
	background-color: #00B4D7;
}

.header-section .hero-wrapper .left .hero-cta-wrap a:nth-child(2){
	background-color: transparent;
	border: 2px solid #efefef;
	border-bottom: 5px solid #EFEFEF;
	color: #50B848;
}

/*  How It Works Section */

.how-it-works-section {
	background-color: #fff;
	padding: 40px 0px 80px 0px;
}

.how-it-works-section h2 {
	padding-bottom: 140px;
}

.how-it-works-section .htw-inner.desktop {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.how-it-works-section .htw-inner.mobile {
	display: none;
}

.how-it-works-section .htw-inner .htw-box {
	color: #000;
	text-align: center;
	font-family: Manrope;
	font-size: 14px;
	font-weight: 700;
	width: 91px;
	flex-shrink: 0;
	position: relative;
    z-index: 1;
    background-color: #fff;
}

.how-it-works-section .htw-inner.desktop .htw-box.fourth,
.how-it-works-section .htw-inner.desktop .htw-box.second {
	margin-top: -75px;
}

.how-it-works-section .htw-inner.desktop .htw-box.fourth p,
.how-it-works-section .htw-inner.desktop .htw-box.second p {
	padding-bottom: 4px;
}

.how-it-works-section .htw-inner.desktop .htw-box.fifth {
	margin-top: -20px;
}

.how-it-works-section .up-flow-arrow {
	width:240px;
	position: absolute;
}

.how-it-works-section .down-flow-arrow {
	width:240px;
	position: absolute;
}

.how-it-works-section .up-flow-arrow.first {
	position: absolute;
    left: 65px;
    bottom: -63px;
}

.how-it-works-section .up-flow-arrow.second {
	position: absolute;
    right: 280px;
    bottom: -63px;
}

.how-it-works-section .down-flow-arrow.first {
	top: -94px;
    left: 308px;
}

.how-it-works-section .down-flow-arrow.second {
	top: -94px;
    right: 35px;
} 

/* Exiting user section */
.exiting-user-section {
	text-align: center;
	padding-bottom: 50px;
	padding-top: 10px;
}

.exiting-user-section h2 {
	padding-bottom: 18px;	
}

.exiting-user-section p {
	text-align: center;
    color: #000;
    text-align: center;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
}

.exiting-user-section p:nth-of-type(1){
	padding-bottom: 4px;
}

/* Feature Section */
.feature-section {
	padding: 45px 0px 100px 0px;
}

.feature-section h2 {
	padding-bottom: 55px;
}

.feature-section .feature-upper {
	display: flex;
	padding-bottom: 80px;
}

.feature-section .feature-upper .left {
	width: 45%;
} 

.feature-section .feature-upper .right {
	width: 55%;
}

.feature-section .feature-upper .left {
	text-align: left;
	padding-right: 30px;
	padding-right: 70px;
}

.feature-section .feature-upper .left h3 {
	color: #50B848;
	font-family: Manrope;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.25;
	padding-bottom: 12px;
}

.feature-section .feature-upper .left h3 span{
	display: block;
}

.feature-section .feature-upper .left p {
	color: #000;
	font-family: Manrope;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.8;
}

.feature-section .feature-lower {
	display: flex;
	align-items: center;
}

.feature-section .feature-lower .left {
	display: flex;
    width: 55%;
    align-items: center;
    column-gap: 40px;
	padding-left: 60px;
}

.feature-section .feature-lower .left a > img {
	width: 240px;
}

.feature-section .feature-lower .right {
	width: 45%;
}

.feature-section .feature-lower .right h4{
	color: #50B848;
	font-family: Manrope;
	font-size: 36px;
	font-weight: 700;
	padding-bottom: 8px;
}

.feature-section .feature-lower .right p{
	color: #000;
	font-family: Manrope;
	font-size: 18px;
	font-weight: 500;
	max-width: 400px;
	line-height: 1.5;
}

/* Associate brand section */
.associate-section {
	padding: 113px 0px 50px 0px;
}

.associate-section h2 {
	padding-bottom: 4px;
}

.associate-section p {
	text-align: center;
	color: #000;
	text-align: center;
	font-family: Manrope;
	font-size: 18px;
	font-weight: 500;
	margin: 0 auto;
	max-width: 840px;
	padding-bottom: 80px;
	line-height: 1.5;
}

.associate-section .associate-inner {
	display: flex;
	justify-content: center;
	column-gap: 48px;
}

.associate-section .associate-inner img {
	width: 200px;
}

/* Sample Section */
.sample-section {
	padding: 80px 0px 55px 0px; 
}

.sample-section .sample-header {
	text-align: center;
	padding-bottom: 70px;
}

.sample-section .sample-header p.subheading {
	color: #000;
	font-family: Manrope;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
}

.sample-section .sample-data {
	display: flex;
    flex-wrap: wrap;
    row-gap: 28px;
    column-gap: 40px;
}

.sample-section .sample-data .sample-data-wrap {
	width: calc(25% - 30px);
    text-align: center;
	padding: 20px;
}

.sample-section .sample-data .sample-data-wrap:nth-child(1) {
	background-color: #d8ebff;
}

.sample-section .sample-data .sample-data-wrap:nth-child(2) {
	background-color: #e4f4d5;
}

.sample-section .sample-data .sample-data-wrap:nth-child(3) {
	background-color: #fad6e9;
}

.sample-section .sample-data .sample-data-wrap:nth-child(4) {
	background-color: #ffa99f;
}

.sample-section .sample-data .sample-data-wrap:nth-child(5) {
	background-color: #e9f6fb;
}

.sample-section .sample-data .sample-data-wrap:nth-child(6) {
	background-color: #ffd3ce;
}

.sample-section .sample-data .sample-data-wrap:nth-child(7) {
	background-color: #fad6e9;
}

.sample-section .sample-data .sample-data-wrap:nth-child(7) img {
	width: 200px;
	height: 255px;
}

.sample-section .sample-data .sample-data-wrap:nth-child(8) {
	background-color: #e6f9ff;
}

/*  Testimonial section */
.testimonial-section {
	padding: 55px 0px 135px 0px;
	overflow-x: clip;
}

.testimonial-inner {
	position: relative;
}

.testimonial-inner::before {
	content: "";
	width: 40px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #fff;
	width: 6%;
	opacity: 0.4;
	z-index: -1;
}

.testimonial-section h2 {
	padding-bottom: 44px;
}

.testimonial-section .testimonial-box {
	border-radius: 16px;
	border: 1px solid #000;
	background: #FFF;
	box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.30);
	padding: 22px 22px;
	
}

.testimonial-section .testimonial-box p {
	color: #000;
	font-family: Manrope;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.6;
}

.testimonial-section .testimonial-box-top {
    padding-bottom: 8px;
	display: flex;
}

.testimonial-section .testimonial-box-top-right {
	padding-left: 12px;
	padding-bottom: 18px;
}

.testimonial-section .testimonial-box-top-right h6 {
	color: #000;
	font-family: Manrope;
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 5px;
}

.testimonial-section .testimonial-box-top-right p {
	color: #000;
	font-family: Manrope;
	font-size: 15px;
	font-weight: 500;
	padding-bottom: 5px;
}

.testimonial-section .testimonial-box-top-right .star-wrapper {
	display: flex;
	align-items: center;
	column-gap: 6px;
}

.testimonial-section  .slick-slide {
	  margin: 0 24px;
   	  opacity: 0.8;
      filter: blur(1.6px);
}

.testimonial-section .slick-list {
      margin: 0 -24px;
	  overflow: visible;
}

.testimonial-section .slick-active {
	opacity: 1;
	filter: blur(0px);
}

.testimonial-section .slick-dots {
	bottom: -75px;
}

.testimonial-section .slick-dots li button:before {
	font-size: 10px;
	color: #a9a9a9;
}

.testimonial-section .slick-dots li.slick-active button:before {
    color: #c6c6c6;
	opacity: 1;
	font-size: 13px;
}

.testimonial-section .slick-dots li {
	margin: 0 3px;
}

/* Explore Section */
.explore-section {
	background-color: #ECF5F8;
}

.explore-section .explore-inner {
	display: flex;
	align-items: center;
}

.explore-section .explore-inner .left {
	width: 50%;
	display: flex;
}

.explore-section .explore-inner .right {
	width: 50%;
}

.explore-section .right .top-cta-wrap span{
	color: #000;
	font-family: Manrope;
	font-size: 18px;
	font-weight: 500;
	display: inline-block;
	padding-bottom: 12px;
}

.explore-section .right h2 {
	color: #000;
	font-family: Manrope;
	font-size: 38px;
	font-weight: 400;
	max-width: 370px;
	padding-bottom: 90px;
}

.explore-section .right h2 span {
	color: #50B848;
	font-weight: 700;
}

.explore-section .right .bottom-cta-wrap a {
	color: #FFF;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    text-decoration: none;
    padding: 14px 92px;
    width: 100%;
    max-width: 294px;
    border-bottom: 4px solid #0090AB;
    background-color: #00B4D7;
	display: inline-block;
}


/* Footer Section */
.footer-section {
	background-color: #2b2b2bed;
	padding: 34px 0px 34px 0px;
}

.footer-section .footer-bottom {
	display: flex;
}

.footer-section .footer-contact ul li:nth-child(1) .f-number span{
	display: block;
}

.footer-section .footer-contact ul > span{
	display: none;
}

.footer-section .footer-bottom .footer-logo {
	width: 30%;
}

.footer-section .footer-bottom .footer-contact {
	width: 35%;
}

.footer-section .footer-bottom .footer-social {
	width: 35%;
	padding-left: 6%;
}

.footer-section .footer-contact ul li {
	display: flex;
	align-items: flex-start;
	column-gap: 10px;
	margin-bottom: 18px;
}

.footer-section .footer-contact ul li:last-of-type {
	margin-bottom: 0px;
}

.footer-section h5 {
	color: #FFF;
	font-family: Manrope;
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 18px;
}

.footer-section a {
	color: #FFF;
	font-family: Manrope;
	font-size: 16px;
	font-weight: 600;
	text-decoration-line: underline;
	letter-spacing: 0.6px;
}

.footer-section .f-number span{
	display: block;
	color: #fff;
	font-weight: 100;
	display: inline-block;
	padding-top: 2px;
}

.footer-section .footer-social ul {
	display: flex;
	column-gap: 20px;
}


/* Styling Ends */